<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello World in Vue JS</title>
</head>
<body>
	<div id="hello-world-app">
		<h1>{{ msg }}</h1>
		<br>
		<br>

		<!-- First Conditional Directive [ v-if ] -->
		<!-- <button v-if="isLoggedIn">Logout</button>  -->

		<!-- Second Conditional Directive [ v-if in <template> ] -->
		<!-- <template v-if="isLoggedIn">
			<label> Logout </label>
			<button> Logout </button>
		</template> -->

		<!-- Third Conditional Directive [ v-else ] -->
		<!-- <button v-if="isLoggedIn"> Logout </button>
		<button v-else> Log In </button> -->

		<!-- Fourth Conditional Directive [ v-else-if ] -->
		<button v-if="isLoggedIn"> Logout </button>
		<label v-else-if="isLoginDisabled"> Register disabled </label>
		<button v-else> Log In </button>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js" type="text/javascript"></script>

	<script>
		new Vue({
		  el: '#hello-world-app',
		  data () {
		  	return {
		  		msg: 'Hello World !!',
		  		isLoggedIn: false,
		  		isLoginDisabled: false
		  	}
		  }
		});
	</script>
</body>
</html>